body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(38, 67, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.task {
  background-color: #1e5388;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.delbutton {
 width: 40px;
}
.editbutton {
  width: 40px;
  margin-left: 2px;
}

